@{
    ViewData["Title"] = "Registrar";
}

@model ContaRegistrarViewModel

<h4>Complete o cadastro de sua Conta!</h4>
<hr />

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Registrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}


